* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

/* GRID */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 0.5fr;
  grid-template-areas: 
    "header header header header"
    "sidebar sidebar content content"
    "footer footer footer footer";
  width: 100vw;
  height: 100vh;
}

/* HEADER */

.header {
  grid-area: header;
  border: 1px solid black;
  background-color: #696969;
}

h1 {
  padding: 0.3em;
  font-size: 3rem;
  margin: 0.3em 0.3em;
  text-align: center;
  color: #F8F8FF;
}

/* SIDEBAR */

.sidebar {
  border: 1px solid black;
  grid-area: sidebar;
  background-color: #F8F8FF;
}

.project-sidebar-title {
  margin-bottom: 1em;
  padding: 0.5em;
}

#new-project-btn {
  font-weight: 800;
  font-size: 1rem;
  position: relative;
  top: 25px;
  left: 20%;
  height: 4rem;
  width: 9rem;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}

#new-project-btn:hover {
  cursor: pointer;
  background: #FFFFFF;
}

.add-project-popup {
  display: none;
  position: relative;
  left: 10%;
  top: 1.8rem;
  height: 6.25em;
  width: 15em;
  padding: 1.25em;
}

#project-name-input {
  box-sizing: content-box;
  border-radius: 2px;
  padding: 0.3em;
  width: 10.65em;
  height: 1.8em;
  font-size: 1rem;
}

.project-buttons {
  display: flex;
  flex-direction: row;
}

.add-btn, .cancel-btn {
  width: 5.75em;
  height: 2.2em;
  font-size: 1rem;
  font-weight: 900;
}

.add-btn:hover, .cancel-btn:hover {
  cursor: pointer;
}

/* SELECTED PROJECT LIST */
.active-list {
  font-weight: bolder;
  background-color: #DCDCDC;
  border-radius: 5px;
}

.sidebar-projects-div {
  height: 80%;
  margin: 1em 1em;
}

.project-name {
  list-style-type: none;
  width: 90%;
  padding: 0.6em;
}

.project-name:hover {
  cursor: pointer;
  background: #DCDCDC;
  border-radius: 5px;
}

/* CONTENT */

.content {
  grid-area: content;
  background-color: #F5F5F5;
  border: 1px solid black;
  overflow: hidden;
  overflow-y: scroll;
}

.todo-list-container {
  display: none;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  top: 1.25em;
  left: 3em;
  padding: 0.6em;
  margin-bottom: 3.75em;
  width: 80%;
  box-shadow: 5px 5px 5px black;
}

.new-task-popup, 
.edit-task-popup {
  position: relative;
  bottom: 33em;
  left: 28em;
  background-color: #F5F5F5;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  width: 24em;
  height: 30em;
  border-radius: 5px;
  padding: 1.8em;
}

.task-form, 
.task-form-edit {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 2.5em;
}

.task-form input, textarea, 
.task-form-edit input, 
textarea {
  margin-bottom: 1em;
  padding: 0.3em;
}

.task-form label, 
.task-form-edit label {
  font-weight: 800;
  margin-bottom: 0.8em;
}

.task-description-text, 
.task-date-text {
  display: none;
}

.save-task-btn, 
.save-task-btn-edit {
  width: 100%;
  padding: 0.62em;
  margin-top: 1.5em;
  border-radius: 5px;
  font-weight: 700;
}

.close-popup-icon, 
.close-popup-icon-edit {
  font-size: 2rem;
  position: relative;
  bottom: 30px;
  left: 330px;
}

.close-popup-icon:hover, 
.close-popup-icon-edit:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.container-buttons {
  margin-top: 0.62em;
}

.input-task {
  display: block;
}

.project-title-preview {
  margin-bottom: 1.25em;
}

.task-div {
  padding: 0.3em;
  margin: 0.3em;
  width: 100%;
  height: 2em;
}

.task-div:hover .task-info-div {
  display: block;
}

.task-div:hover {
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  background-color: #DCDCDC;
}

.task-div input {
  padding: 0.3em;
  border: none;
  background-color:inherit;
}

.task-div input:hover {
  cursor: pointer;
}

.task-div label {
  margin: 0.3em;
}

.task-div label:hover {
  cursor: pointer;
}

.task-div button {
  float: right;
  padding: 0.2em;
  margin: -2px 2px;
}

.task-info-div {
  display: none;
  background: #DCDCDC;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.6em;
  padding: 0.6em;
  box-shadow: 2px 2px 2px black;
  width: fit-content;
  position: relative;
  left: 6.25em;
}

.delete-project-btn {
  float: right;
  height: 2.5em;
  width: 12em;
  border-bottom: 3px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 900;
  margin: 0.6em;
}

.add-task-btn {
  padding: 0.12em;
  height: 2em;
  border-radius: 5px;
  width: 7em;
}

.delete-project-btn:hover, 
.add-task-btn:hover, 
.save-task-btn:hover, 
.save-task-btn-edit:hover {
  cursor: pointer;
  background: #FFFFFF;
}

.remove:hover, 
.edit:hover {
  cursor: pointer;
}

/* BLURR BACKGROUND AND DISABLE BUTTONS */
.inactive {
  pointer-events: none;
  filter: blur(2px);
}

/* FOOTER */

.footer {
  grid-area: footer;
  border: 1px solid black;
  background-color: #696969;
}

.copyright-div {
  margin: 0.3em 0.6em;
  text-align: center;
}

.fa-github {
  text-transform: none;
  font-size: 1.5rem;
  color: #F8F8FF;
}

.footer-span {
  color: #F8F8FF;
}

.active {
  display: block;
}

/* MEDIA QUERIES */

/* TABLET */
@media all and (max-width: 768px) {

  #new-project-btn {
    font-weight: 800;
    font-size: 60%;
    position: relative;
    top: 1.6rem;
    left: 20%;
    height: 20%;
    width: 40%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
  }

  .active-list {
    width: 100%;
  }

  .add-project-popup {
    position: relative;
    left: 10%;
    top: 1em;
    height: 6.25em;
    width: 15em;
    padding: 1.25em;
  }

  h1 {
    font-size: 1rem;
    padding: 0.3em;
    margin-top: 1.5em;
  }

  .project-sidebar-title {
    font-size: 90%;
  }

  .project-name {
    width: 90%;
    font-size: 50%;
  }

  .add-project-popup {
    height: 50%;
    width: 10%;
  }

  #project-name-input {
    box-sizing: content-box;
    border-radius: 2px;
    padding: 3px;
    width: 7.8em;
    height: 10%;
    font-size: 50%;
  }

  .add-btn {
    width: 5em;
    height: 50%;
    font-size: 70%;
  }

  .cancel-btn {
    width: 5em;
    height: 50%;
    font-size: 70%;
  }

  .sidebar-projects-div {
    height: 80%;
    margin-right: 4em;
  }

  .content {
    font-size: 50%;
  }

  .content button {
    height: 40%;
    width: 20%;
    font-size: 50%;
    padding: 0.5em;
  }

  .task-div {
    margin: 1em;
  }

  .task-div label {
    position: relative;
    bottom: 2px;
  }

  .task-div:hover {
    width: 98%;
  }

  .task-div button {
    height: 4em;
    width: 9em;
    margin-right: 0.5em;
  }

  .new-task-popup, 
  .edit-task-popup {
    bottom: 28em;
    left: 15em;
  }  

  .close-popup-icon, 
  .close-popup-icon-edit {
    bottom: 30px;
    left: 330px;
  }

  .delete-project-btn {
    margin-top: 5.5em;
  }

  .footer-span {
    font-size: 10%;
  }

  .fa-github {
    font-size: 80%;
  }
}

/* LARGE MOBILE */
@media all and (max-width: 425px) {

  #new-project-btn {
    width: 60%;
  }

  .active-list {
    width: 100%;
  }

  .new-task-popup, 
  .edit-task-popup {
    bottom: 28.5em;
    left: 1.8em;
    width: 80%;
    height: 28em;
  }  

  .close-popup-icon, 
  .close-popup-icon-edit {
    bottom: 30px;
    left: 285px;
  }
}

/* MEDIUM MOBILE */
@media all and (max-width: 375px) {

  .active-list {
    width: 150%;
  }

  .new-task-popup, 
  .edit-task-popup {
    bottom: 28.5em;
    left: 1.8em;
    width: 80%;
    height: 28em;
  }  

  .close-popup-icon, 
  .close-popup-icon-edit {
    bottom: 30px;
    left: 245px;
  }

  .task-div button {
    height: 3.5em;
    width: 8.5em;
    margin-right: 0.2em;
    font-size: 50%;
    padding-bottom: 0.5em;
  }

}

/* SMALL MOBILE */
@media all and (max-width: 320px) {

  .active-list {
    width: 200%;
  }

  .todo-list-container {
    top: 1.25em;
    left: 1em;
    padding: 0.6em;
    margin-bottom: 3.75em;
    width: 90%;
  }

  #new-project-btn {
    width: 80%;
  }

  .new-task-popup, 
  .edit-task-popup {
    bottom: 28.5em;
    left: 1.8em;
    width: 80%;
    height: 28em;
  }  

  .close-popup-icon, 
  .close-popup-icon-edit {
    bottom: 30px;
    left: 200px;
  }

  .task-div button {
    margin: -1px 1px;
  }

  .delete-project-btn {
    margin-top: 9em;
    font-size: 1px;
  }

}
