* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 0.5fr;
  grid-template-areas: 
    "header header header header"
    "sidebar content content content"
    "footer footer footer footer";
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
  border: 1px solid black;
}

h1 {
  padding: 10px;
}

.project-sidebar-title {
  margin-bottom: 20px;
  padding: 10px;
}

#new-project-btn {
  font-weight: 800;
  font-size: 15px;
  position: relative;
  top: 20px;
  left: 20px;
  height: 2.5rem;
  width: 7.5rem;
  border-radius: 10px 10px;
}

#new-project-btn:hover {
  cursor: pointer;
  background: lightslategray;
}

.add-project-popup {
  display: none;
  height: 100px;
  width: 250px;
  padding: 20px;
  margin: 20px;
}

#project-name-input {
  padding: 2px;
  width: 180px;
  height: 30px;
}

.project-buttons {
}

.add-btn, .cancel-btn {
  width: 50%;
  height: 30px;
}

.active-list {
  font-weight: 800;
}

.sidebar {
  border: 1px solid black;
  grid-area: sidebar;
}

.project-name {
  border-radius: 1px;
  width: 100%;
  padding: 10px;
}

.project-name:hover {
  cursor: pointer;
  background: lightblue;
}

.content {
  position: relative;
  grid-area: content;
  border: 1px solid black;
}

.todo-list-container {
  display: none;
  margin: 50px;
  padding: 10px;
  width: 500px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}

.container-buttons {
  margin-top: 10px;
}

.input-task {
  display: block;
}

.single-task-label {
  border-radius: 100%;
}

.add-icon-link {
  text-transform: none;
  color: blue;
  margin: 10px;
}

.add-icon-link:hover {
  position: relative;
  top: 1px;
}

.project-title-preview {
  margin-bottom: 20px;
}

.task-div {
  padding: 5px;
}

#task-input {
  border: none;
  border-bottom: 1px solid blue;
  margin: 5px;
  padding: 2px;
}

#task-input:focus {
  outline: none;
}

.delete-project-btn, .delete-task-btn, .edit-task-btn {
  padding: 2px;
}

.delete-project-btn, .delete-task-btn, .edit-task-btn:hover {
  cursor: pointer;
}

.fa-github {
  text-transform: none;
  color: black;
}

.footer-span {
  padding: 5px;
}

.footer {
  grid-area: footer;
  border: 1px solid black;
}

.active {
  display: block;
}
