* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 0.5fr;
  grid-template-areas: 
    "header header header header"
    "sidebar content content content"
    "footer footer footer footer";
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
  border: 1px solid black;
}

#new-project-btn {
  margin: 2.5rem;
  height: 2rem;
  width: 7rem;
  border-radius: 10px 10px;
}

#new-project-btn:hover {
  cursor: pointer;
}

.add-project-popup {
  display: none;
  height: 100px;
  width: 250px;
  padding: 20px;
  margin: 20px;
}

#project-name {
  width: 180px;
  height: 30px;
}

.add-btn, .cancel-btn {
  width: 80px;
  height: 20px;

}

.active-list {
  font-weight: 800;
}

.name-label, .description-label {
  margin: 2rem;
}

.sidebar {
  border: 1px solid black;
  grid-area: sidebar;
}

.project-name {
  margin: 5px;
}

.project-name:hover {
  cursor: pointer;
}

.content {
  position: relative;
  grid-area: content;
  border: 1px solid black;
}

.todo-list-container {
  display: none;
  margin: 50px;
  padding: 10px;
  width: 500px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}

.container-buttons {
  margin-top: 10px;
}

.input-task {
  display: block;
}

.single-task-label {
  border-radius: 100%;
}

.add-icon-link {
  text-transform: none;
  color: blue;
  margin: 10px;
}

#task-input {
  border: none;
  border-bottom: 1px solid blue;
  margin: 5px;
}

.edit-btn, .delete-btn, .fa-github {
  text-transform: none;
  color: black;
}

.footer {
  grid-area: footer;
  border: 1px solid black;
}

.active {
  display: block;
}
